<div id="<%= dom_id reservation %>">
  <p>
    <strong>City:</strong>
    <%= reservation.city %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>House:</strong>
    <%= reservation.house_id %>
  </p>

</div>
